# General
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
*.swp
*~
.directory
*.log
*.tmp
*.bak

# C/C++
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.so
*.so.*
*.dylib
*.dll
*.a
*.la
*.lo
*.lib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*.su
*.idb
*.pdb
.dep/
.vscode/
.idea/
cmake-build-*/
build/
CMakeFiles/
CMakeCache.txt
compile_commands.json

# Java
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
.mtj.tmp/
*.ctxt
target/
.gradle/
build/
out/
.idea/
*.iml
.classpath
.project
.settings/

# Rust
/target/
**/*.rs.bk
Cargo.lock
**/*.o
**/*.d

# Go
/vendor/
/Godeps/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
/go.sum